<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title> Team Manager </title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand" href="/">Team Manager</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li><a href="/admincheck/{{INFO['student_id']}}">View Student</a></li>
                    </ul>
                </div>
                <div class="col-sm-offset-3 col-md-offset-2 text-center main">
                    <h1 class="page-header">
                        {% filter upper %}
                        {{ INFO["first_name"] }} {{
                        INFO["last_name"] }}
                        {% endfilter  %}
                    </h1>

                    <h2 class="sub-header"> Information </h2>
                    <form method="POST">
                        <table style="width:70%">
                            <tr>
                                <td>
                                    <h2 class="sub-header"> Student Info </h2>
                                </td>
                                <td>
                                    <b>Graduation Year:</b><br>
                                    <input type="text" name="grad_year" id="grad_year" value="{{ INFO['grad_year'] }}">
                                </td>
                                <td> <b>Student ID</b>:<br>{{ INFO["student_id"] }} </td>
                                <td>
                                    <b>OSIS:</b><br>
                                    <input type="text" name="osis" id="osis" value="{{ INFO['osis'] }}">
                                </td>
                                <td>
                                    <b>Birthday:</b><br>
                                    <input type="text" name="dob" id="dob" value="{{ INFO['birthday'] }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="sub-header"> Contact Info </h2>
                                </td>
                                <td>
                                    <b>Student Email:</b><br>
                                    <input type="text" name="email" id="email" value="{{ INFO['student_email'] }}">
                                </td>
                                <td>
                                    <b>Student Cell:</b><br>
                                    <input type="text" name="cell" id="cell" value="{{ INFO['student_cell'] }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="sub-header"> Team Forms </h2>
                                </td>
                                <td>
                                    <b>Team Dues:</b><br>
                                    <div class="checkbox">
                                        <label>
                                            {% if INFO["team_dues"] == 1 %}
                                            <input id="team_dues" name="team_dues" type="checkbox" value="1" checked>
                                            {% else %}
                                            <input id="team_dues" name="team_dues" type="checkbox" value="1">
                                            {% endif %}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <b>Safety Test:</b><br>

                                    <div class="checkbox">
                                        <label>
                                            {% if INFO["safety_test"] == 1 %}
                                            <input id="safety_test" name="safety_test" type="checkbox" value="1" checked>
                                            {% else %}
                                            <input id="safety_test" name="safety_test" type="checkbox" value="1">
                                            {% endif %}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <b>Medicals:</b><br>
                                    <div class="checkbox">
                                        <label>
                                            {% if INFO["medicals"] == 1 %}
                                            <input id="medicals" name="medicals" type="checkbox"  value="1" checked>
                                            {% else %}
                                            <input id="medicals" name="medicals" type="checkbox" value="1">
                                            {% endif %}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="sub-header">Home Info </h2>
                                </td>
                                <td>
                                    <b>Preferred Language:</b><br>
                                    <input type="text" name="pref_lang" id="pref_lang" value="{{ INFO['pref_lang'] }}">
                                </td>
                                <td>
                                    <b>Home Phone:</b><br>
                                    <input type="text" name="home_phone" id="home_phone" value="{{ INFO['home_phone'] }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="sub-header">Mother Info </h2>
                                </td>
                                <td>
                                    <b>Mother Name:</b><br>
                                    <input type="text" name="mother" id="mother" value="{{ INFO['mother'] }}">
                                </td>
                                <td>
                                    <b>Mother Email:</b><br>
                                    <input type="text" name="mother_email" id="mother_email" value="{{ INFO['mother_email'] }}">
                                </td>
                                <td>
                                    <b>Mother Cell:</b><br>
                                    <input type="text" name="mother_cell" id="mother_cell" value="{{ INFO['mother_cell'] }}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="sub-header">Father Info </h2>
                                </td>
                                <td>
                                    <b>Father Name:</b><br>
                                    <input type="text" name="father" id="father" value="{{ INFO['father'] }}">
                                </td>
                                <td>
                                    <b>Father Email:</b><br>
                                    <input type="text" name="father_email" id="father_email" value="{{ INFO['father_email'] }}">
                                </td>
                                <td>
                                    <b>Father Cell:</b><br>
                                    <input type="text" name="father_cell" id="father_cell" value="{{ INFO['father_cell'] }}">
                                </td>
                            </tr>
                        </table>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="alert alert-{{category}} col-md-4">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{category.upper()}}:</strong> {{message}}
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <button class="btn btn-lg btn-primary col-sm-offset-4 col-xs-4" type="submit">Save Changes</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>

</html>
