<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title> Team Manager </title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/sao">Team Manager</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="/manager">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="col-sm-offset-3 col-md-offset-0 text-center main">
                    <div class="container">
                        <form method="POST">
                            <h2>Filter Users:</h2>
                            <div class="row">
                                <div class="form-group col-sm-offset-3 col-xs-3">
                                    <label for="first_name" class="sr-only">First Name</label>
                                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" autofocus>
                                </div>
                                <div class="form-group col-xs-3">
                                    <label for="last_name" class="sr-only">Last Name</label>
                                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-offset-3 col-xs-3">
                                    <label for="sid" class="sr-only">4-Digit ID</label>
                                    <input type="text" id="sid" name="sid" class="form-control" placeholder="4-Digit ID" autofocus>
                                </div>
                                <div class="form-group col-xs-3">
                                    <label for="osis" class="sr-only">OSIS</label>
                                    <input type="text" id="osis" name="osis" class="form-control" placeholder="OSIS">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-offset-3 col-xs-3">
                                    <label for="grad_year" class="sr-only">Graduating Year</label>
                                    <input type="text" id="grad_year" name="grad_year" class="form-control" placeholder="Graduation Year" autofocus>
                                </div>
                                <div class="form-group col-xs-1">
                                    <div class="checkbox">
                                        <label>
                                            <input id="safety_test" name="safety_test" type="checkbox" value="yes">Safety Test
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-xs-1">
                                    <div class="checkbox">
                                        <label>
                                            <input id="dues" name="dues" type="checkbox" value="yes">Dues
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-xs-1">
                                    <div class="checkbox">
                                        <label>
                                            <input id="medicals" name="medicals" type="checkbox" value="yes">Medicals
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-offset-3 col-xs-3">
                                    <label for="service_hours_lower" class="sr-only">4-Digit ID</label>
                                    <input type="text" id="service_hours_lower" name="service_hours_lower" class="form-control" placeholder="Service Hours Lower" autofocus>
                                </div>
                                <div class="form-group col-xs-3">
                                    <label for="service_hours_upper" class="sr-only">Service Hours Upper</label>
                                    <input type="text" id="service_hours_upper" name="service_hours_upper" class="form-control" placeholder="Service Hours Upper">
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary col-sm-offset-4 col-xs-4" type="submit">Filter</button>
                        </form>
                    </div>

                    <br>
                    <div class="container">
                        <table class="table table-bordered">
                            {% if users %}
                            {% if users|length != 0 %}
                            <h3>Results:</h3>
                            <thead>
                                <td><b>ID</b></td>
                                <td><b>Last, First</b></td>
                            </thead>
                            {% for sid, name in users.iteritems() %}
                            <tr>
                                <td>{{sid}}</td>
                                <td>{{name[1]}}, {{name[0]}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <h3>No results</h3>
                            {% endif %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>

</html>
